@import "variables";
@import "globals";

header {
    width: 100%;
    height: 550px;
    margin-top: 100px;
    padding: 0 120px 0 120px;
.me {
    position: relative;
    width: auto;
    height: auto;
    img {
        transform: rotate(-4deg);
        width: 450px;
        height: 450px;
        border-radius: 50%;
        border: 20px solid $violet;
        -webkit-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
-moz-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
    }

    .square {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 220px;
        left: -80px;
        border: 10px solid $yellow;
        transform: rotate(-4deg);
        z-index: -1;
        &:nth-of-type(2){
            top: 250px;
            left: -100px;
            border: 10px solid rgba(#2a0f56, 0.7);
            z-index: -2;
        }
    }

    .triangle {
        position: absolute;
        width: 500px;
        height: 500px;
        left: 270px;
        top:-80px;
        background-image: url("/images/triangle.png");
        background-repeat: no-repeat;
        z-index: -1;
        transform: rotate(5deg);
        
    }
}
    div {
        font-family: 'Roboto Mono', monospace;
        width: 700px;
        color: $yellow;
        border-radius: 10px;

        img {
            width: 100%;
            height: auto;
            border: 0;
            border-radius:0;
            transform: rotate(0deg);
        }

        div {
            -webkit-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
-moz-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
            background-color: $violet;
            position: relative;
        }

        p {
            padding: 35px;
            font-size: 1.3em;
        }

        .circle {
            position: absolute;
            width: 500px;
            height: 500px;
            border: 10px solid $yellow;
            border-radius: 50%;
            right: -150px;
            top: -160px;
            z-index: -1;
            &:nth-of-type(2){
                width: 200px;
                height: 200px;
                top: 80px;
                left: -130px;
                border: 10px solid rgba(#2a0f56, 0.7);
                z-index: -2;
            }
        }
    }
}
.welcome {
    font-family: 'Roboto Mono', monospace ;
    position: relative;
    p {
        color: $violet;
        top:-20px;
        left: 100px;
        font-size: 4em;
        position: absolute;
    }
    &:nth-of-type(2){
        top:-20px;
        left: 1650px;
        text-align: right;
    }
}