@import "globals";
@import "variables";

header {
    width: 100%;
    height: 800px;
    margin-top: 130px;

    img {
        width: 450px;
        height: 450px;
        border-radius: 50%;
        border: 20px solid $violet;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    div {
        font-family: 'Roboto Mono', monospace;
        width: 700px;
        color: $yellow;
        img {
            width: 100%;
            height: auto;
            border: 0;
            box-shadow: none;
        }
        div {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: $violet;
        height: 200px;
        position: relative;
        &:after {

        }
        }
        p {
            padding: 10px;
            font-size: 1.25em;
        }
    }
}