@import "variables";
@import "globals";

header {
    padding: 0 120px 0 120px;
    width: 100%;
.me {
    position: relative;
    width: auto;
    height: auto;
    img {
        transform: rotate(-4deg);
        width: 450px;
        height: 450px;
        border-radius: 50%;
        border: 20px solid $violet;
        -webkit-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
-moz-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
    }

    .square {
        position: absolute;
        width: 450px;
        height: 450px;
        top: 100px;
        left: -180px;
        border: 15px solid $yellow;
        transform: rotate(4deg);
        z-index: -1;
    }

    .triangle {
        position: absolute;
        width: 600px;
        height: 600px;
        left: 200px;
        top:-230px;
        background-image: url("/images/triangle.png");
        background-repeat: no-repeat;
        z-index: -2;
        transform: rotate(-5deg);
        
    }
}
    div {
        font-family: 'Roboto Mono', monospace;
        width: 700px;
        color: $yellow;
        border-radius: 10px;

        img {
            width: 100%;
            height: auto;
            border: 0;
            border-radius:0;
            transform: rotate(0deg);
        }

        div {
            -webkit-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
-moz-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
            background-color: $violet;
            position: relative;
        }

        p {
            padding: 35px;
            font-size: 1.3em;
        }

        .circle {
            background-color: $light-pink;
            position: absolute;
            width: 600px;
            height: 600px;
            border: 15px solid $yellow;
            border-radius: 50%;
            right: -180px;
            top: -240px;
            z-index: -1;
            -webkit-box-shadow: 0px 0px 75px -18px rgb(192, 164, 4);
                -moz-box-shadow: 0px 0px 75px -18px rgb(192, 164, 4);
                box-shadow: 0px 0px 75px -18px rgb(192, 164, 4);
            &:nth-of-type(2){
                -webkit-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                -moz-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                width: 350px;
                height: 350px;
                top: 80px;
                left: -150px;
                border: 15px solid rgba(#2a0f56, 0.8);
                z-index: -2;
            }
            &:nth-of-type(3){
                -webkit-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                -moz-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                width: 200px;
                height: 200px;
                top: -350px;
                left: -700px;
                border: 15px solid rgba(#2a0f56, 0.8);
                z-index: -2;
            }
            &:nth-of-type(4){
                -webkit-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                -moz-box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                box-shadow: 0px 0px 75px -18px rgba(164, 55, 183, 1);
                width: 150px;
                height: 150px;
                top: -330px;
                left: 200px;
                border: 12px solid rgba(#2a0f56, 0.8);
                z-index: -2;
            }
        }
    }
}