@import "globals";
@import "variables";

header {
    width: 100%;
    height: 800px;
    margin-top: 130px;
    padding: 0 120px 0 120px;

    img {
        position: relative;
        transform: rotate(-4deg);
        width: 450px;
        height: 450px;
        border-radius: 50%;
        border: 20px solid $violet;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .square {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 350px;
        left: 130px;
        border: 10px solid $yellow;
        transform: rotate(-4deg);
        z-index: -1;
    }

    .triangle {
        position: absolute;
        width: 500px;
        height: 500px;
        left: 580px;
        top:50px;
        background-image: url("/images/triangle.png");
        background-repeat: no-repeat;
        z-index: -1;
        transform: rotate(5deg);
    }

    div {
        font-family: 'Roboto Mono', monospace;
        width: 700px;
        color: $yellow;

        img {
            width: 100%;
            height: auto;
            border: 0;
            border-radius:0;
            box-shadow: none;
            transform: rotate(0deg);
        }

        div {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            background-color: $violet;
            height: 200px;
            position: relative;
        }

        p {
            padding: 10px;
            font-size: 1.3em;
        }

        .circle {
            position: absolute;
            width: 320px;
            height: 320px;
            border: 10px solid $yellow;
            border-radius: 50%;
            right: -150px;
            top: 30px;
            z-index: -1;
        }
    }
}